version: 2.1

jobs:
  test:
    docker:
      - image: cimg/python:3.11
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: |
            pip install pytest requests
      - run:
          name: Run unit tests
          command: |
            python -m pytest test_ukg_api_client_pytest.py -v
      - store_test_results:
          path: test-results

  package:
    docker:
      - image: cimg/python:3.11
    steps:
      - checkout
      - run:
          name: Install build tools
          command: |
            pip install build twine
      - run:
          name: Build package
          command: |
            python -m build
      - store_artifacts:
          path: dist
          destination: packages

workflows:
  test_and_package:
    jobs:
      - test
      - package:
          requires:
            - test